* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #6BC3BE;
}

section {
    width: 1000px;
    margin: 50px auto 0 auto;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 2rem;
    color: #1a1a1a;
}

.organizer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

}

.card {
    width: 200px;
    height: 250px;
    margin: 22px;
    background-color: #eef3fb;
    box-shadow: 1px 1px 10px 5px rgba(64, 64, 64, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alkatra', cursive;
    font-size: 1.6rem;
    text-align: center;
}

#restart {
    display: flex;
    margin: 40px auto 0 auto;
    width: 100px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 1rem;
    padding: 8px 7px;
    background-color: #C26B6F;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (max-width: 1000px) {
    section {
        width: 799px;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        width: 150px;
        height: 200px;
        margin: 10px 5px;
        font-size: 1.2rem;
        
    }
}

@media (max-width: 800px) {
    section {
        width: 100%;
        margin: 15px auto 0 auto;
    }

    .card {
        width: 150px;
        height: 200px;
        margin: 10px 5px;
    }

    #restart {
        margin: 25px auto 0 auto;
    }
}

@media (max-width: 499px) {
    .card {
        width: 125px;
        height: 175px;
        margin: 10px 5px;
    }
}

@media (max-width: 404px) {
    .card {
        width: 100px;
        height: 150px;
    }
}